[submodule "3rd_party/blackmamba"]
	path = 3rd_party/blackmamba
	url = https://github.com/w32zhong/blackmamba-fork.git
[submodule "3rd_party/causal-conv1d"]
	path = 3rd_party/causal-conv1d
	url = https://github.com/Dao-AILab/causal-conv1d.git
[submodule "3rd_party/mamba"]
	path = 3rd_party/mamba
	url = https://github.com/state-spaces/mamba.git
